html,
body {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
}

a,
a:visited {
  color: initial;
  text-decoration: underline dotted #888;
}

a:hover {
  opacity: 0.7;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 0.75em;
  padding-bottom: 0.75em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

form {
  input[type='text'] {
    display: block;
    margin-bottom: 0.5em;
    border-radius: 1em;
    padding: 0.4em;
    border: 1px solid rgba(0, 0, 0, 0.2);

    &:hover {
      border: 1px solid rgba(40, 235, 70, 0.3);
    }

    &:focus {
      border: 1px solid rgba(40, 235, 70, 0.7);
    }
  }

  .buttons {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid rgba(0, 0, 0, 0.15);

    button {
      margin-right: 0.3em;
    }
  }
}

.hidden {
  display: none !important;
}

.code {
  padding: 1em;
  white-space: pre-wrap;
  font-family: monospace;
  border: 1px dotted rgba(0, 0, 0, 0.8);
  border-radius: 1em;

  &.response {
    background: rgba(200, 255, 200, 0.3);
  }

  &.error {
    background: rgba(255, 200, 200, 0.3);
  }
}

// vim:sw=2:ts=2:et:
